.content-control {
  width: 100%;
  height: 100vh;
}

.content-control__btn {
  margin: 200px auto;
}

.content-control--many {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 50px 10px;
}

.btn-control {
  display: block;

  width: 150px;
  height: 80px;

  border: 1px solid gray;
  border-radius: 10px;

  background-color: gray;

  color: white;

  font-size: 20px;
}

.content-control__btn--many {
  margin: 0 8px;
}

.content-control__btn--active {
  background-color: green;
}

@media (max-width: 360px) {
  .content-control__btn--many {
    margin: 5px auto;
  }

  .content-control--many {
    flex-direction: column;
  }
}
